@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

* {
    font-family: "Alexandria", serif !important;
    text-align: center;
}

body {
    text-align: center;
}

.section{
    height: 100vh;
    border-bottom: 5px solid black;
}