@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

:root{
    --animation-duration: 2s;
}

* {
    font-family: "Delius", "Alexandria" !important;
    text-align: center;
}

.section {
    height: 100vh;
    border-bottom: 5px solid black;
    box-shadow: 10px 10px 376px -9px rgba(0, 0, 0, 0.18) inset;
    -webkit-box-shadow: 10px 10px 376px -9px rgba(0, 0, 0, 0.18) inset;
    -moz-box-shadow: 10px 10px 376px -9px rgba(0, 0, 0, 0.18) inset;
}

.section h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
    animation: tada;
}
